<a href="https://colab.research.google.com/github/AstridCastrillon/platzi-curso-mongodb-intro/blob/master/Actividad_de_Numpy%2BPandas%20Astrid%20Castrillon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **¡Querido estudiante!**

Antes de comenzar a realizar este ejercicio, crea una copia y colócale tu nombre. Esto para que luego compartas el link en el aula y el profesor pueda identificar fácilmente a quién pertenece la actividad resuelta.

**Bienvenido (a) a este proceso de aprendizaje**

1. A partir de la lista L1=['abc', 123, [456, 'd', 'e', 'f', [7, 8, 9],['g','h','i']], 10, 'j', 'k'], llegar a L2=[['abc', 456, 7], 'def', [8, 9], 'g', 'h', [10, 'j', 'k']] usando métodos de indexación.

2. Usando el conjunto de datos de Wine (https://gist.githubusercontent.com/tijptjik/9408623/raw/b237fa5848349a14a14e5d4107dc7897c21951f5/wine.csv), extrae lo siguiente de cada columna:

* Media
* Desviación estándar
* Rango
* Mediana

Luego, filtra el dataset siguiendo las siguientes instrucciones:
* D1= La primera y cuarta columnas
* D2= Las dos primeras y las dos últimas columnas

Finalmente, imprime para todas las columnas, todos los valores superiores a la media, más dos veces la desviación estándar e inferiores a la media, menos dos veces la desviación estándar.

3. Crea una matriz NumPy de 100 filas por 5 columnas que conste de números enteros aleatorios del 1 al 100. (Ten en cuenta que en la parte superior, el límite puede ser exclusivo).

Convertir esta matriz en dataframe y cambiar el nombre de las columnas por ['f1', 'f2', 'f3', 'f4', 'etiqueta'].

En la columna etiqueta, cambiar cada número por su correspondiente posición en el alfabeto español. Por ejemplo, 25 vendría siendo la letra "x" (en un alfabeto incluyendo la "ñ"), si el número es mayor a 28 repetir el conteo de letras, ej: 35 sería la "g".

Finalmente, crear una nueva columna que lleve de nombre las iniciales de tu nombre, donde el contenido de las filas sea la suma de las filas de las cuatro primeras columnas.

4. De la base de datos Titanic (https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv), con las columnas Género ('Sex'), Edad ('Age') y el valor del tiquete ('Fare'), responde las siguientes preguntas:

* ¿Cuántos hombres y mujeres tenemos en nuestro dataset?
* ¿Cuál es la edad más frecuente en nuestro conjunto de datos?
* ¿Cuál es la edad más frecuente en las mujeres?
* ¿Cuál es la edad más frecuente en los hombres?
* ¿Cuál es el precio del tiquete más común?
* ¿El precio del tiquete más común es el mismo para hombres y para mujeres?
* ¿Cuánto pagan promedio hombres y mujeres por rango de edades? Proponer algunos rangos.

5. De la base de datos de producción de leche mensual (https://raw.githubusercontent.com/plotly/datasets/master/monthly-milk-production-pounds.csv), realizar lo siguiente:

* ¿Cuál es la producción de leche anual?
* ¿Cuál es la producción de leche en los meses de enero, julio y diciembre?
* Realizar un gráfico de la producción anual con su media.